html {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

input, textarea {
  border: 0;
  outline: 0;
}

ul {
  padding: 0;
}

a {
  color: $color-text;
}

h1,h2,h3,h4,h5 {
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

button {
  border: 0;
  outline: 0;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Nunito";
  font-weight: 400;
  background-color: $color-white;
  color: $color-text;
  width: 100%;
  max-width: 100%;
}

.container {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 80px;
}

*:focus {
  outline: none;
}