html {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

input, textarea {
  border: 0;
  outline: 0;
}

a {
  color: $color-text;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: $color-text;
  width: 100%;
  max-width: 100%;
}

.container {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 vw(80);
}

*:focus {
  outline: none;
}