@import "colors";
@import "fonts";
@import "responsive";
@import "base";

.main {
    color: $color-blue;
}

.intro {
    padding: 144px 0 48px 0;

    &__title {
        text-align: center;
        font-size: 36px;
        margin-bottom: 80px;
        font-family: "Poiret One";
        font-style: normal;
        font-weight: 400;
        font-size: 54px;
    }

    &__text {
        font-size: 18px;
        line-height: 25px;
    }
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-bottom: 144px;
}

.pricing {
    margin-bottom: 144px;

    &__title {
        text-align: center;
        font-family: "Poiret One";
        font-size: 54px;
        margin-bottom: 48px;
    }

    &__text {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 48px;
    }

    &__plan {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-pink;
        padding: 48px 32px;
        width: 632px;

        &-title {
            font-family: "Poiret One";
            font-size: 41px;
            line-height: 48px;
            text-align: center;
            margin-bottom: 32px;
        }

        &s {
            display: flex;
            justify-content: center;
            gap: 16px;
        }
    }

    &__feature {
        font-size: 16px;
        position: relative;
        border-bottom: 1px solid $color-blue;

        &.active {
            &::after {
                transform: rotate(180deg) translateY(50%);
            }
        }

        &s {
            list-style: none;
            padding: 0;
            margin-bottom: 20px;
        }
    }

    &__button {
        box-sizing: border-box;
        width: 220px;
        height: 41px;
        padding: 8px 24px;
        background-color: $color-purple--dark;
        color: $color-text;
        font-size: 18px;
        font-family: "Nunito";
        font-weight: 400;
        transition: background-color .3s ease;

        &:hover {
            cursor: pointer;
            background-color: lighten($color-purple--dark, 25%);
        }
    }
}

.feature {
    &__label {
        position: relative;
        padding: 16px;
        padding-left: 26px;
        font-size: 21px;
        font-weight: 600;
        color: $color-blue;

        &::after {
            content: '';
            background-image: url(../img/svg/accardionArrow.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            width: 23px;
            height: 10px;
            top: 50%;
            transform: translateY(-50%);
            right: 8px;
            transition: transform .3s ease;
        }

        &::before {
            content: '';
            background-image: url(../img/svg/kubik.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            width: 8px;
            height: 8px;
            top: 50%;
            transform: translateY(-50%);
            left: 8px;
            transition: transform .3s ease;
        }

        &:hover {
            cursor: pointer;
            background-color: rgba($color-black, .25);
        }

        transition: background-color .3s ease;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
    }

    &__content {
        position: relative;
        overflow: hidden;
        max-height: 0;
        transition: .3s ease;
    }

    &__text {
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        color: $color-blue;
    }
}

.modal {
    &__select {
        width: 100%;
        margin: 0;
        margin-bottom: 24px;
    }
    &--request {
        & .modal {
            &__content {
                height: 560px;
            }
            &__btn {
                width: 154px;
                background-color: $color-purple;
                &:hover {
                    background-color: darken($color-purple, 25%);
                }
            }
        }
    }
}

.select {
    &__toggle {
        position: relative;
        box-sizing: border-box;
        padding: 4px 16px;
        width: 100%;
        background-color: $color-text;
        border-radius: 0;
        font-size: 18px;
        color: $color-blue;

        &:hover {
            color: $color-blue;
        }

        &::after {
            position: absolute;
            right: 16px;
            width: 13px;
            height: 6px;
            background-image: url(../img/svg/accardionArrow.svg);
        }
    }

    &__dropdown {
        top: 32px;
        border-radius: 0;
    }

    &__option {
        background-color: $color-text;
        color: $color-blue;
        padding: 4px 16px;
        font-size: 18px;
    }
}