@import "colors";
@import "fonts";
@import "responsive";
@import "base";

.no-scroll {
    overflow: hidden;
}


.header {
    background-color: $color-blue;
    padding-top: 15px;
    padding-bottom: 15px;

    &__container {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 57px;
    }
}

.nav {
    margin-right: 120px;

    &__list {
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 25px;
        }
    }

    &__link {
        white-space: nowrap;
        transition: color .3s ease;
        font-size: 18px;

        &:hover {
            color: darken($color-text, 25%);
        }
    }
}

.itc-select {
    width: auto;
    margin-right: 25px;

    &__toggle {
        padding: 0;
        white-space: nowrap;
        justify-content: start;
        background-color: transparent;
        color: $color-text;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        border: 0;
        transition: color .3s ease;

        &::after {
            width: 8px;
            height: 4px;
            margin-left: 8px;
            background-image: url(../img/svg/selectArrow.svg);
        }

        &:hover {
            color: darken($color-text, 25%);
        }
    }

    &__dropdown {
        background: transparent;
        border: 0;
        max-height: vw(200);
    }

    &__option {
        color: $color-text;
        transition: color .3s ease;

        &:hover {
            color: darken($color-text, 25%);
            background: transparent;
        }
    }
}

.itc-select__option_selected {
    &::after {
        background-image: none;
    }
}

.authorization {
    display: flex;
    flex-wrap: nowrap;

    &__login,
    &__reg {
        transition: color .3s ease;
        font-size: 15px;

        &:hover {
            color: darken($color-text, 25%);
        }
    }

    &__login {
        margin-right: 4px;
    }

    &__reg {
        margin-left: 4px;
    }
}

/* Модальное окно */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

    &--reg {
        & .modal {
            &__content {
                margin: 5% auto;
                height: 740px;
            }
        }
    }

    &__content {
        box-sizing: border-box;
        background-color: #2c003e;
        margin: 10% auto;
        padding: 48px 32px;
        width: 448px;
        height: 429px;
        color: $color-text;
    }

    .bibus {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 5px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__close {
        display: block;
        background-image: url(../img/svg/close.svg);
        width: 100%;
        height: 28px;
        background-repeat: no-repeat;
        background-position: center right;
        transition: filter .3s ease;

        &:hover,
        &:focus {
            cursor: pointer;
            filter: brightness(75%);
        }
    }

    &__title {
        text-align: center;
        font-family: "Poiret One";
        font-weight: 400;
        font-size: 31px;
        margin-bottom: 48px;
    }

    &__btn {
        box-sizing: border-box;
        width: 108px;
        height: 45px;
        padding: 8px 24px;
        background-color: $color-purple;
        color: $color-text;
        font-size: 21px;
        font-family: "Nunito";
        font-weight: 400;
        border: 1px solid transparent;
        transition: background-color .3s ease, color .3s ease, border .3s ease;

        &--reg {
            width: 251px;
        }


        &:hover {
            background-color: transparent;
            border: 1px solid $color-text;
            color: $color-text;
            cursor: pointer;
        }
    }

    &__label {
        display: flex;
        width: 100%;
        justify-content: start;
        font-size: 18px;
        margin-bottom: 8px;
    }

    &__input {
        box-sizing: border-box;
        width: 100%;
        background-color: $color-text;
        padding: 4px 16px;
        font-size: 18px;
        margin-bottom: 28px;

        &::placeholder {
            color: $color-pink;
        }
    }

    .password {
        &-container {
            width: 100%;
            position: relative;
            margin-bottom: 24px;

            &--reg {
                margin: 0;
            }
        }

        &-toggle {
            top: 4px;
            right: 16px;
            display: block;
            position: absolute;
            width: 23px;
            height: 18px;
            background-image: url(../img/svg/eye.svg);
            background-repeat: no-repeat;
            background-position: center center;
            cursor: pointer;

            &--reg {
                top: 4px;
                right: 16px;
                display: block;
                position: absolute;
                width: 23px;
                height: 18px;
                background-image: url(../img/svg/eye.svg);
                background-repeat: no-repeat;
                background-position: center center;
                cursor: pointer;
            }
        }
    }
}

.checkbox__text {
    font-weight: 300;
    font-size: 12px;
}

/* Hide the default checkbox */
.chckbox__container {
    width: 100%;
    margin-bottom: 48px;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    display: flex;
    align-items: center;

    /* Create a custom checkbox */
    .checkbox__checkmark {
        position: relative;
        box-shadow: $color-text 0px 0px 0px 2px;
        background-color: $color-purple--dark;
        height: 17px;
        width: 17px;
        margin-right: 8px;
        flex-shrink: 0;
        margin-top: -1px;
        transition: all 0.2s ease 0s;
        cursor: pointer;
        transform-origin: 0px 10px;
        border-radius: 4px;
        margin: -1px 10px 0px 0px;
        padding: 0px;
        box-sizing: border-box;

        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }

    input:checked~.checkbox__checkmark {
        box-shadow: $color-text 0px 0px 0px 2px;
        background-color: $color-purple;
        height: 17px;
        width: 17px;
        margin-right: 10px;
        flex-shrink: 0;
        margin-top: -1px;
        transition: all 0.2s ease 0s;
        cursor: pointer;
        transform-origin: 0px 10px;
        border-radius: 4px;
        margin: -1px 10px 0px 0px;
        padding: 0px;
        box-sizing: border-box;

        &:after {
            display: block;
        }
    }

    .checkbox__checkmark:after {
        left: 0.40em;
        top: 0.20em;
        width: 0.25em;
        height: 0.5em;
        border: solid white;
        border-width: 0 0.15em 0.15em 0;
        transform: rotate(45deg);
        transition: all 500ms ease-in-out;
    }
}




.hero {
    background-image: url(../img/jpg/herobg.jpg);
    background-size: cover;
    background-position: center center;

    &__filter {
        background-color: rgba($color-blue, .7);
    }

    &__container {
        padding-top: 112px;
        padding-bottom: 87px;
        display: flex;
        justify-content: space-between;
    }

    .pulse {
        &__text {
            margin-bottom: 202px;
            display: flex;
            flex-direction: column;
        }

        &__img {
            &:nth-child(1) {
                width: 274px;
                height: 100px;
                margin-bottom: 48px;
            }

            &:nth-child(2) {
                width: 489px;
                height: 101px;
            }
        }

        &__btn {
            border: 2px solid transparent;
            outline: 0;
            padding: 16px 32px;
            background-color: $color-purple;
            font-weight: 400;
            color: $color-text;
            font-family: "Nunito";
            font-size: 21px;
            transition: background-color .3s ease, border .3s ease, ;

            &:hover {
                cursor: pointer;
                background-color: transparent;
                border: 2px solid $color-text;
            }
        }
    }

    .dance {
        &__img {
            &:nth-child(1) {
                height: 382px;
                width: 101px;
                margin-right: 48px;
            }

            &:nth-child(2) {
                width: 101px;
                height: 512px;
            }
        }
    }
}

// about
.about {
    padding-top: 144px;
    padding-bottom: 77px;

    &__header {
        text-align: center;
        color: $color-blue;
        font-family: "Poiret One";
        font-size: 45px;
        margin-bottom: 48px;
    }

    &__text {
        color: $color-blue;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 48px;
    }

    &__pictures {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__img {
        width: 740px;
        height: 416px;

        &.small {
            width: 524px;
            height: 416px;
        }

        &:nth-child(1) {
            margin-bottom: 16px;
        }

        &:nth-child(2) {
            margin-bottom: 16px;
        }
    }
}

// styles
.styles {
    padding-top: 67px;
    padding-bottom: 76px;

    &__header {
        text-align: center;
        color: $color-blue;
        font-family: "Poiret One";
        font-size: 45px;
        margin-bottom: 48px;
    }

    &__text {
        color: $color-blue;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 49px;
    }

    .accardion {
        &__box {
            position: relative;
            border-right: 2px solid $color-black;
            border-left: 2px solid $color-black;
            border-bottom: 2px solid $color-black;

            &.first {
                border-top: 2px solid $color-black;
            }

            &.last {
                border-bottom: 2px solid $color-black;
            }

            &.active {
                border-bottom: 2px solid $color-black;

                &::after {
                    transform: rotate(180deg) translateY(50%);
                }
            }
        }

        &__btn {
            box-sizing: border-box;
            width: 144px;
            height: 41px;
            padding: 8px 24px;
            background-color: $color-purple--dark;
            border: 1px solid transparent;
            color: $color-text;
            font-size: 18px;
            font-family: "Nunito";
            font-weight: 400;
            transition: background-color .3s ease, color .3s ease, border .3s ease;

            &:hover {
                cursor: pointer;
                background-color: transparent;
                color: $color-blue;
                border: 1px solid $color-blue;
            }
        }

        &__label {
            position: relative;
            padding: 24px;


            font-family: "Poiret One";
            font-size: 37px;
            color: $color-blue;

            &::after {
                content: '';
                background-image: url(../img/svg/accardionArrow.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                width: 34px;
                height: 16px;
                top: 50%;
                transform: translateY(-50%);
                right: 24px;
                transition: transform .3s ease;
            }

            &:hover {
                cursor: pointer;
                background-color: rgba($color-black, .25);
            }

            transition: background-color .3s ease;
        }

        &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 24px;
        }

        &__content {
            position: relative;
            overflow: hidden;
            max-height: 0;
            transition: .3s ease;
        }

        &__text {
            max-width: 763px;
            font-size: 18px;
            line-height: 30px;
            color: $color-blue;
        }
    }
}

// educators

.educators {
    background-color: $color-blue;
    padding-top: 77px;
    padding-bottom: 77px;

    &__header {
        text-align: center;
        font-family: "Poiret One";
        font-size: 45px;
        margin-bottom: 48px;
    }

    &__text {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 48px;
    }

    &__pictures {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__block {
        width: 308px;
        height: 308px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        align-items: end;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            margin-bottom: 16px;
        }

        &__header {
            height: 100%;
            font-family: "Poiret One";
            font-size: 31px;
            transition: font-size .3s ease;
        }

        &:hover {
            cursor: pointer;

            & .educators__filter {
                background-color: rgba($color-blue, .7);
            }

            & .educators__block__header {
                font-size: 47px;
            }
        }
    }

    &__filter {
        box-sizing: border-box;
        padding: 16px;
        width: 100%;
        height: 100%;
        transition: background-color .3s ease;
        background-color: rgba($color-blue, .4);
    }
}

// price

.price {
    padding-top: 77px;
    padding-bottom: 77px;

    &__header {
        text-align: center;
        font-family: "Poiret One";
        font-size: 45px;
        color: $color-blue;
        margin-bottom: 48px;
    }

    &__block {
        display: flex;
        align-items: center;
    }

    &__card {
        text-align: center;
        color: $color-blue;
        width: 308px;
        height: 426px;
        background-color: $color-pink;
        box-sizing: border-box;
        padding: 56px 77px 31px 77px;
        margin-right: 16px;
        border: 2px solid transparent;
        transition: background-color .3s ease, border .3s ease;

        &.last {
            margin-right: 69px;
        }

        &:hover {
            background-color: transparent;
            border: 2px solid $color-blue;
        }
    }

    .card {
        &__quantity {
            font-family: "Poiret One";
            font-size: 100px;
        }

        &__train {
            font-family: "Poiret One";
            font-size: 31px;
            margin-bottom: 8px;
        }

        &__time {
            font-size: 18px;
            margin-bottom: 48px;
        }

        &__price {
            font-family: "Poiret One";
            font-size: 37px;
            margin-bottom: 24px;
        }

        &__buy {
            box-sizing: border-box;
            width: 140px;
            height: 41px;
            padding: 8px 24px;
            background-color: $color-purple--dark;
            border: 1px solid transparent;
            outline: 0;
            color: $color-text;
            font-family: "Nunito";
            font-size: 18px;
            transition: background-color .3s ease, color .3s ease, border .3s ease;

            &:hover {
                background-color: transparent;
                border: 1px solid $color-blue;
                color: $color-blue;
                cursor: pointer;
            }
        }
    }

    &__btn {
        white-space: nowrap;
        box-sizing: border-box;
        font-family: "Nunito";
        background-color: $color-purple--dark;
        border: 1px solid transparent;
        width: 212px;
        height: 61px;
        padding: 16px 32px;
        font-weight: 400;
        font-size: 21px;
        color: $color-text;
        transition: background-color .3s ease, color .3s ease, border .3s ease;

        &:hover {
            background-color: transparent;
            border: 1px solid $color-blue;
            color: $color-blue;
            cursor: pointer;
        }
    }
}

// timetable

.timetable {
    padding: 77px 0;
    background-color: $color-blue;

    &__container {
        text-align: center;
    }

    &__header {
        text-align: center;
        font-family: "Poiret One";
        font-size: 45px;
        color: $color-text;
        margin-bottom: 59px;
    }

    &__block {
        display: flex;
        justify-content: space-between;
    }

    &__card {
        box-sizing: border-box;
        text-align: center;
        width: 308px;
        height: 259px;
        padding: 24px 48px;
        background-color: $color-pink;
        color: $color-blue;
        margin-bottom: 24px;
        border: 2px solid transparent;
        transition: background-color .3s ease, border .3s ease, color .3s ease;
        &:hover {
            border: 2px solid $color-text;
            color: $color-text;
            background-color: transparent;
        }
    }

    .card {
        &__header {
            font-family: "Poiret One";
            font-size: 31px;
            margin-bottom: 8px;
        }

        &__rang {
            font-family: "Poiret One";
            font-size: 21px;
            margin-bottom: 16px;
        }

        &__time {
            font-size: 18px;
            margin-bottom: 16px;

            & span {
                margin-right: 24px;
            }
        }

        &__name {
            font-size: 18px;
            margin-bottom: 24px;
        }

        &__btn {
            box-sizing: border-box;
            font-weight: 400;
            font-family: "Nunito";
            width: 213px;
            height: 36px;
            padding: 8px 24px;
            border: 1px solid transparent;
            background-color: $color-purple--dark;
            color: $color-text;
            transition: background-color .3s ease, color .3s ease, border .3s ease;

            &:hover {
                background-color: transparent;
                border: 1px solid $color-text;
                cursor: pointer;
            }
        }
    }

    &__btn {
        white-space: nowrap;
        box-sizing: border-box;
        width: 221px;
        height: 61px;
        padding: 16px 32px;
        background-color: $color-pink;
        color: $color-blue;
        font-size: 21px;
        font-family: "Nunito";
        font-weight: 400;
        border: 1px solid transparent;
        transition: background-color .3s ease, color .3s ease, border .3s ease;

        &:hover {
            background-color: transparent;
            border: 1px solid $color-text;
            color: $color-text;
            cursor: pointer;
        }
    }
}

// franchise

.franchise {
    padding: 77px 0;
    color: $color-blue;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__header {
        text-align: center;
        font-family: "Poiret One";
        font-size: 45px;
        margin-bottom: 48px;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        &.last {
            margin-bottom: 24px;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 24px;

        &:nth-child(1) {
            margin-right: 16px;
        }
    }

    &__img {
        margin-right: 16px;

        &:nth-child(3) {
            margin-right: 0;
        }
    }

    &__btn {
        box-sizing: border-box;
        width: 176px;
        height: 61px;
        padding: 16px 32px;
        background-color: $color-purple--dark;
        color: $color-text;
        font-size: 21px;
        font-family: "Nunito";
        font-weight: 400;
        border: 1px solid transparent;
        transition: background-color .3s ease, color .3s ease, border .3s ease;

        &:hover {
            background-color: transparent;
            border: 1px solid $color-blue;
            color: $color-blue;
            cursor: pointer;
        }
    }
}

// contacts

.contacts {
    padding-top: 77px;
    padding-bottom: 144px;
    color: $color-blue;

    &__header {
        text-align: center;
        font-family: "Poiret One";
        font-size: 45px;
        margin-bottom: 48px;
    }

    &__block {
        display: flex;
        justify-content: space-between;
    }

    &__card {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 416px;
        height: 259px;
        padding: 32px;
        background-color: $color-pink;
        border: 1px solid transparent;
        transition: background-color .3s ease, color .3s ease, border .3s ease;

        &:hover {
            background-color: transparent;
            border: 1px solid $color-blue;
        }
    }

    .card {
        &__name {
            font-size: 18px;
        }

        &__link {
            font-family: "Poiret One";
            font-size: 31px;
            line-height: 50px;
            color: $color-blue;
            transition: color .3s ease;

            &.aboba {
                margin-right: 16px;
            }

            &:hover {
                color: lighten($color-blue, 25%);
            }
        }
    }
}

// footer

.footer {
    padding-top: 83px;
    padding-bottom: 55px;
    background-color: $color-blue;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    &__block {
        text-align: right;
    }

    &__nav {
        margin-bottom: 48px;
    }

    &__link {
        margin-bottom: 8px;
        font-size: 15px;
        font-weight: 300;
        transition: color .3s ease;

        &s {
            display: flex;
            flex-direction: column;
            margin-bottom: 61px;
        }

        &:hover {
            cursor: pointer;
            color: darken($color-text, 25%);
        }
    }

    &__cop {
        font-size: 15px;
        font-weight: 300;
    }

    &__item {
        font-weight: 300;
        font-size: 15px;
    }
}